@import "tailwindcss";

@theme {
  --color-first: #ffcf0f;
  --color-first-1: #efb603;
  --color-first-2: #ffe343;
  --color-second: #6c757d;
  --color-second-1: #4d5961;
  --color-second-2: #9ea6ad;
}
